<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/aramarok</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">aramarok</property>
        <property name="connection.password">aramarok</property>
        <property name="connection.pool_size">12</property>

        <property name="show_sql">false</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="transaction.flush_before_completion">true</property>
  	    <property name="connection.release_mode">after_transaction</property>
  	    <property name="transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
  	    <property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
		<attribute name="Debug">false</attribute>

        <!-- Mapping files -->
        <!--mapping resource="Cat.hbm.xml"/-->
        <!--mapping resource="dis_forums.hbm.xml"/-->
        
        <mapping package="com.drey.aramarok.domain.model"/>
        <mapping class="com.drey.aramarok.domain.model.BugGeneralStatus"/>
        <mapping class="com.drey.aramarok.domain.model.UserStatus"/>
        <mapping class="com.drey.aramarok.domain.model.Right"/>
        
        <mapping class="com.drey.aramarok.domain.model.User"/>
        <mapping class="com.drey.aramarok.domain.model.Role"/>
        <mapping class="com.drey.aramarok.domain.model.Bug"/>        
        <mapping class="com.drey.aramarok.domain.model.BugStatus"/>
        <mapping class="com.drey.aramarok.domain.model.Comment"/>
        <mapping class="com.drey.aramarok.domain.model.ComponentVersion"/>
        <mapping class="com.drey.aramarok.domain.model.OperatingSystem"/>
        <mapping class="com.drey.aramarok.domain.model.Platform"/>
        <mapping class="com.drey.aramarok.domain.model.Priority"/>
        <mapping class="com.drey.aramarok.domain.model.Product"/>
        <mapping class="com.drey.aramarok.domain.model.ProductComponent"/>
        <mapping class="com.drey.aramarok.domain.model.Severity"/>
        
    </session-factory>
</hibernate-configuration>